.left{
    left:200px;
    position: absolute;
   margin-top: 100px;
    background:solid aqua 1px;
    border:2px;
}
.right{
    position: absolute;
    margin-top:100px;
    margin-left: 700px;
    margin-right:200px;
    
    height:450px;
    width:600px;
    border:2px solid black;
justify-content:center;
  align-content: center;  
  text-align: justify;
   
    
}

.spa{
    color:green;
}